--
-- PostgreSQL database dump
--

-- Dumped from database version 13.1
-- Dumped by pg_dump version 13.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: schemat; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA schemat;


ALTER SCHEMA schemat OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: czlonek; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.czlonek (
    id bigint NOT NULL,
    email character varying(45) NOT NULL,
    haslo character varying(64) NOT NULL,
    imie character varying(20) NOT NULL,
    rodzina_czlonek_id bigint
);


ALTER TABLE public.czlonek OWNER TO postgres;

--
-- Name: czlonek_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.czlonek ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.czlonek_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: czlonek_no_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.czlonek_no_entity (
    id bigint NOT NULL,
    email character varying(255),
    imie character varying(255),
    nazwisko character varying(255)
);


ALTER TABLE public.czlonek_no_entity OWNER TO postgres;

--
-- Name: mechanik; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mechanik (
    id bigint NOT NULL,
    adres character varying(255),
    imie character varying(255),
    nazwisko character varying(255),
    telefon character varying(255)
);


ALTER TABLE public.mechanik OWNER TO postgres;

--
-- Name: mechanik_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.mechanik ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mechanik_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: praca; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.praca (
    id bigint NOT NULL,
    koszt real,
    nazwa character varying(255),
    przeglad_praca_id bigint
);


ALTER TABLE public.praca OWNER TO postgres;

--
-- Name: praca_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.praca ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.praca_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: przeglad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.przeglad (
    id bigint NOT NULL,
    data timestamp without time zone,
    mechanik_przeglad_id bigint,
    samochod_przeglad_id bigint
);


ALTER TABLE public.przeglad OWNER TO postgres;

--
-- Name: przeglad_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.przeglad ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.przeglad_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: rodzina; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rodzina (
    id bigint NOT NULL,
    nazwisko character varying(255)
);


ALTER TABLE public.rodzina OWNER TO postgres;

--
-- Name: rodzina_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.rodzina ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.rodzina_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: samochod; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.samochod (
    id bigint NOT NULL,
    marka character varying(255),
    model character varying(255),
    numer_rejestracyjny character varying(255),
    czlonek_samochod_id bigint
);


ALTER TABLE public.samochod OWNER TO postgres;

--
-- Name: samochod_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.samochod ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.samochod_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: czlonek_no_entity czlonek_no_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.czlonek_no_entity
    ADD CONSTRAINT czlonek_no_entity_pkey PRIMARY KEY (id);


--
-- Name: czlonek czlonek_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.czlonek
    ADD CONSTRAINT czlonek_pkey PRIMARY KEY (id);


--
-- Name: mechanik mechanik_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mechanik
    ADD CONSTRAINT mechanik_pkey PRIMARY KEY (id);


--
-- Name: praca praca_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.praca
    ADD CONSTRAINT praca_pkey PRIMARY KEY (id);


--
-- Name: przeglad przeglad_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.przeglad
    ADD CONSTRAINT przeglad_pkey PRIMARY KEY (id);


--
-- Name: rodzina rodzina_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rodzina
    ADD CONSTRAINT rodzina_pkey PRIMARY KEY (id);


--
-- Name: samochod samochod_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.samochod
    ADD CONSTRAINT samochod_pkey PRIMARY KEY (id);


--
-- Name: czlonek uk_ib0d55b98v9axq54jjvt0o6px; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.czlonek
    ADD CONSTRAINT uk_ib0d55b98v9axq54jjvt0o6px UNIQUE (email);


--
-- Name: przeglad fk139fljygh67t897t6xoanwgq9; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.przeglad
    ADD CONSTRAINT fk139fljygh67t897t6xoanwgq9 FOREIGN KEY (samochod_przeglad_id) REFERENCES public.samochod(id);


--
-- Name: przeglad fk4gf5kj7hkyoesu1jp9dqfaxej; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.przeglad
    ADD CONSTRAINT fk4gf5kj7hkyoesu1jp9dqfaxej FOREIGN KEY (mechanik_przeglad_id) REFERENCES public.mechanik(id);


--
-- Name: praca fk78nlhh7ud5t0jb7f54etcpy2t; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.praca
    ADD CONSTRAINT fk78nlhh7ud5t0jb7f54etcpy2t FOREIGN KEY (przeglad_praca_id) REFERENCES public.przeglad(id);


--
-- Name: czlonek fk8951h6filds5ptaurqulxgyd1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.czlonek
    ADD CONSTRAINT fk8951h6filds5ptaurqulxgyd1 FOREIGN KEY (rodzina_czlonek_id) REFERENCES public.rodzina(id);


--
-- Name: samochod fkafimbfoxmjp6ecbjx5v7ctqdd; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.samochod
    ADD CONSTRAINT fkafimbfoxmjp6ecbjx5v7ctqdd FOREIGN KEY (czlonek_samochod_id) REFERENCES public.czlonek(id);


--
-- PostgreSQL database dump complete
--

